/* Universal selectors */
*{
    padding: 0;
    margin: 0;
    font-family: "Inter", sans-serif;
    /* box-sizing: border-box; */
}


/* Navbar */
header{
    max-width: 1280px;
    padding: 2rem;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    margin: 0 0 1rem;
    max-width: 100%;
}

nav img{
    display: block;
    max-width: 5.5rem;
    height: auto;
}

nav ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

nav ul li a{
    text-decoration: none;
    font-family: "Roboto", sans-serif;
}

.Home{
    color: rgba(37, 36, 50, 1);
    font-weight: 700;
}
.Shop, .About-us{
    color: #6E6E6E;
}
.Cart{
    color: rgba(0, 0, 0, 1);
}

/* Banner */
.banner{
    display: flex;
    justify-content: space-between;
    align-items: end;
    gap: 1rem;
    flex: 1;

    margin: 5.5rem 0 2rem;
    max-width: 1280px;
}

.banner-content{
    width: 40%;
}
.banner h1{
    color: rgba(0, 0, 0, 1);
    font-size: 2.6rem;
    font-family: "Noto Serif", serif;
    margin-bottom: 0.5rem;
    line-height: 4rem;
}
.banner h1 span{
    color:#E95A08 ;
    font-family: "Noto Serif", serif;
}
.banner p{
    color: #6C6C6C;
    font-size: 1.1rem;
    font-family: "Inter", sans-serif;
    line-height: 1.5rem;
    max-width: 45vw;
}

.hero{
    display: flex;
    justify-content: right;
    flex: 1;
}
.banner img{
    display: block;
    max-width: 100%;
}

/* Our Plants */
.Plants{
    max-width: 1280px;
    padding:1rem 2rem 2rem;
}

.common-header{
    text-align: center;
}
.common-header h2{
    margin-bottom: 1rem;
    font-size: 2.4rem;
    font-family: "Noto Serif", serif;
}

.common-header h2 span{
    color: #E95A08;
    font-family: "Noto Serif", serif;
}
.common-header p{
    max-width: 72vw;
    margin: 0 auto 1.5rem;
    color: #6C6C6C;
}
.card-container{
    max-width: 1280px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.card{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.card img{
    display: block;
    width: 100%;
    height: auto;
}

.card h3{
    color: #111111;
    font-weight: 500;
    font-size: 1.2rem;
    margin: 1rem 0 0.2rem;
}
.card span{
    color: #111111;
    font-weight: 700;
    font-size: 1.2rem;

    display: inline-block;
    margin: 0 0 0.5rem;
}

.card button{
    border: none;
    background-color: #B8570E;
    color: #ffffff;
    padding: 1rem ;
    font-weight: 600;
    cursor: pointer;
}

/* Plants-Lover */
.Plants-Lover{
    max-width: 1280px;
    padding:6rem 2rem 2rem;
    display: flex;
    align-items: center;
    gap: 4.5rem;
}

.Plants-Lover-left{
    display: block;
    width: 100%;
    position: relative;
}

.Plants-Lover-left img{
    display: block;
    width: 30vw;
}

.Plants-Lover .mark{
    position: absolute;
    width: 12rem;
    right: -4.5rem;
    top: -5rem;
}

.Plants-Lover-right h2{
    font-size: 2.5rem;
    font-family: "Noto Serif", serif;
}
.Plants-Lover-right ul{
    list-style: outside;
    margin:0 1.8rem;
}
.Plants-Lover-right ul li{
    color: #6C6C6C;
    font-size: 1.1rem;
    margin: 0.5rem 0;
    line-height: 1.4rem;
}

/* Latest Deals */
.Latest-Deals{
    padding: 2rem;
    max-width: 1280px;
}

.Latest-Deals-offer{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1rem;
    margin-top: 2rem;
}

.item-3{
    grid-column: 2/4;
    grid-row: 1/3;
}

.offer-content{
    color: white;
    display: flex;
    flex-direction: column;
    flex: 1;

    position: relative;
    overflow: hidden;
}

.offer-description {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50% ,-50%) ;
    text-align: center;
    width: 80%;
}
.offer-content a{
    color: white;
}
.offer-content img{
    display: block;
    width: 100%;

    filter: brightness(0.6);
    border-radius: 1rem;
    margin: 0;
    padding: 0;
}

.item-1 h3, .item-2 h3{
    font-weight: 800;
    font-size: 1.3rem;
    font-family: "Noto Serif", serif;
}
.item-1 a, .item-2 a{
    font-weight: 600;
    font-size: 0.9rem;
}

.item-3 h3{
    font-weight: 800;
    font-size: 2rem;
    font-family: "Noto Serif", serif;
}
.item-3 a{
    font-weight: 600;
    font-size: 1.2rem;
}

/* Join */
.Colorful-Bunch{
    max-width: 1280px;
}

.Colorful-Bunch-banner{
    position: relative;
}

.Colorful-Bunch-banner::before{
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../image/news-letter-bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    filter: brightness(0.6); 
    z-index: -1; 
}

.Bunch-container{
    padding: 6rem 1rem;
    text-align: center;
    color: white;
}
.Bunch-container h2{
    font-family: "Noto Serif", serif;
    font-size: 1.7rem;
}

.form{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 600px;
    margin: 0 auto;
    overflow: hidden;
    margin-top: 1rem;
}

.form input{
    border: none;
    flex-grow: 1;
    outline: none;

    padding: 0.8rem;
    font-size: 0.8rem;
}

.form input::placeholder {
    color: rgba(0, 0, 0, 0.5);
}

.form button {
    background-color: #B8570E;
    color: white;
    border: none;
    padding: 0.8rem;
    cursor: pointer;
    font-weight: 600;
}


/* Footer */
.footer-container{
    max-width: 1280px;
    padding:3rem 2rem;
    display: flex;
    gap: 1rem;
    justify-content: space-between;
}

.column-1{
    width: 25%;
}

.footer-logo img{
    display: block;
    width: 5.5rem;
} 

.column-1 p{
    font-size: 0.9rem;
    margin-top: 0.4rem;
    color: #6C6C6C;
}

footer ul{
    list-style: none;
}
footer ul li{
    margin:0 0 1rem;
}
footer ul li a{
    text-decoration: none;
    color: #6b7280;
    font-family: "Roboto", sans-serif;
}

.column-4{
    display: flex;
    justify-content: center;

    gap: 1rem;
}

.column-4 .twitter{
    margin-top: 0.5rem;
}


