/* Universal selectors */
*{
    padding: 0;
    margin: 0;
    font-family: "Inter", sans-serif;
    /* box-sizing: border-box; */
}


/* Navbar */
header{
    max-width: 1280px;
    padding: 2rem;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    margin: 0 0 1rem;
    max-width: 100%;
}

nav img{
    display: block;
    max-width: 5.5rem;
    height: auto;
}

nav ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

nav ul li a{
    text-decoration: none;
    font-family: "Roboto", sans-serif;
}

.Home{
    color: rgba(37, 36, 50, 1);
    font-weight: 700;
}
.Shop, .About-us{
    color: #6E6E6E;
}
.Cart{
    color: rgba(0, 0, 0, 1);
}

/* Banner */
.banner{
    display: flex;
    justify-content: space-between;
    align-items: end;
    gap: 1rem;
    flex: 1;

    margin: 5.5rem 0 2rem;
    max-width: 1280px;
}

.banner-content{
    width: 40%;
}
.banner h1{
    color: rgba(0, 0, 0, 1);
    font-size: 2.6rem;
    font-family: "Noto Serif", serif;
    margin-bottom: 0.5rem;
    line-height: 4rem;
}
.banner h1 span{
    color:#E95A08 ;
    font-family: "Noto Serif", serif;
}
.banner p{
    color: #6C6C6C;
    font-size: 1.1rem;
    font-family: "Inter", sans-serif;
    line-height: 1.5rem;
    max-width: 45vw;
}

.hero{
    display: flex;
    justify-content: right;
    flex: 1;
}
.banner img{
    display: block;
    max-width: 100%;
}

/* Our Plants */
.Plants{
    max-width: 1280px;
    padding:1rem 2rem 2rem;
}

.common-header{
    text-align: center;
}
.common-header h2{
    margin-bottom: 1rem;
    font-size: 2.4rem;
    font-family: "Noto Serif", serif;
}

.common-header h2 span{
    color: #E95A08;
    font-family: "Noto Serif", serif;
}
.common-header p{
    max-width: 72vw;
    margin: 0 auto 1.5rem;
    color: #6C6C6C;
}
.card-container{
    max-width: 1280px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.card{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.card img{
    display: block;
    width: 100%;
    height: auto;
}

.card h3{
    color: #111111;
    font-weight: 500;
    font-size: 1.2rem;
    margin: 1rem 0 0.2rem;
}
.card span{
    color: #111111;
    font-weight: 700;
    font-size: 1.2rem;

    display: inline-block;
    margin: 0 0 0.5rem;
}

.card button{
    border: none;
    background-color: #B8570E;
    color: #ffffff;
    padding: 1rem ;
    font-weight: 600;
    cursor: pointer;
}

/* Plants-Lover */
.Plants-Lover{
    max-width: 1280px;
    padding:6rem 2rem 2rem;
    display: flex;
    align-items: center;
    gap: 4.5rem;
}

.Plants-Lover-left{
    display: block;
    width: 100%;
    position: relative;
}

.Plants-Lover-left img{
    display: block;
    width: 30vw;
}

.Plants-Lover .mark{
    position: absolute;
    width: 12rem;
    right: -4.5rem;
    top: -5rem;
}

.Plants-Lover-right h2{
    font-size: 2.5rem;
    font-family: "Noto Serif", serif;
}
.Plants-Lover-right ul{
    list-style: outside;
    margin:0 1.8rem;
}
.Plants-Lover-right ul li{
    color: #6C6C6C;
    font-size: 1.1rem;
    margin: 0.5rem 0;
    line-height: 1.4rem;
}



